.productCard{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 2px 3px 4px gray;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}
img{
    height: 150px;
    width: 150px;
}